<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="center">
	<ul class="navigation-bar">
		<li class="current">
			<a href="/rsadeghi/index">About Me</a>
		</li>

		<li>
			<a href="/user/index">Sample Work</a>
		</li>

	</ul>
	</div>

<div id="rsadeghi">
	<table>
		<tr style="background-color:#CAE1FF">
			<td style="width:1000px;"><h2 style="color:navy;">About ME </h2>
			
			<br/>
			My name is Roya Sadeghi (my official name is Zahra Sadeghi). I graduated from USC in 2009 with a Master of Engineering degree in Electrical Engineering, with focus on Computer Networks. I started working in Cisco as a software Engineer in 2009, mainly focusing on network systems development. I resigned
			from Cisco in 2012 and took independent classes in Web Applications, Web Design and Data Bases. You can browse sections of my resume in this page, or download it <a href="/RoyaSadeghi.pdf">HERE</a>.
			Check out the social photo sharing website that I built on the ruby on rails platform from scratch in the <a href="/user/index">Sample Work</a> section. Now I am looking to switch to a full time web development rule.
			<br/>
			<br/>
			<br/>
			<dl>
				

				<dt>
					<strong><u>EDUCATION</strong></u>
				</dt>
				<dd class="answer">
					<ul>
						<li>
							<strong>MS., Electrical Engineering, May 2009 </strong>
							<br/>
							<u>University of Southern California, Los Angeles, CA</u>
							<br/>
							Focus: Computer Networks, GPA: 3.80
						</li>
						<li>
							<strong>BSc., Electrical Engineering, Dec 2005</strong>
							<br/>
							<u>Azad University, Tehran, Iran</u>
							<br/>
							Technical GPA: 17 / 20
						</li>
						<li>
							<strong>Independent Career Development Courses, June 2011 - Now</strong>
							<br/>
							Taken from: Stanford University, De Anza College, Foothill College, Project Management Institute
							<br/>

						</li><ul>

				</dd>

				<dt>
					<strong><u>COMPUTER SKILLS </u></strong>
				</dt>
				<dd class="answer">
					<ul>
						<li>
							<strong>Web Development</strong>
							<br/>
							Ruby on Rails, JavaScript, AJAX, JQuery, SQL, HTML,CSS3, Wikicentral Conuence. Familiar with PHP.
						</li>
						<li>
							<strong>Web Design Tools</strong>
							<br/>
							Adobe Photoshop, Adobe Edge Animate, Adobe Muse.
						</li>
						<li>
							<strong>Programming</strong>
							<br/>
							Ruby, C++, C, Python, Matlab, Shell Scripting. Familiar with Java.
						</li>
						<li>
							<strong>IDE</strong>
							<br/>
							Eclipse, Aptana Studio.

						</li>
						<li>
							<strong>Networking Tools</strong>
							<br/>

							NS2, OPNET, C socket programming, Wireshark.
						</li>

				</dd>

				<dt>
					<strong><u>SELECTED COURSEWORK</strong></u>
				</dt>
				<dd class="answer">
					<ul>
						<li>
							<strong>Web Development </strong>
							<br/>
							Client Side Programming with Javascript, Web Design, Web Applications, Databases.
						</li>
						<li>
							<strong>Computer and Software Systems</strong>
							<br/>
							Compilers, Computer Architecture, Databases.
						</li>

						<li>
							<strong>Network Systems</strong>
							<br/>
							Introduction to Computer Networks, Advanced Topics in
							Computer Networks, Communication Systems, Telephone Switching, Broadband Network Architectures, Design and Analysis of Computer Communication Networks.
						</li>

						<li>
							<strong>Project Management</strong>
							<br/>
							PMI-Managing projects, PMI-Scheduling and Cost control
						</li>

						<li>
							<strong>Theory</strong>
							<br/>
							Analysis of Algorithms, Calculus, Engineering Mathematics, Dierential
							Equations, Engineering Statistics and Probability, Numerical Calculations, Signals &
							Systems, Probabilistic Methods in Computer System Modeling, Queuing Theory.

				</dd>

				<dt>
					<strong><u>SELECTED INDEPENDENT PROJECTS</strong></u>
				</dt>
				<dd class="answer">

					<strong>Photo Sharing Web App: (Independent Project)</strong>
					<br/>
					<ul>
						<li>
							Designed and built a social photo sharing website on the ruby on rails platform from scratch.
						</li>
						<li>
							Users can create profiles, follow other users, share photos and tag or comment on photos
						</li>

						<li>
							Used Javascript, AJAX, JQuery, HTML and CSS3 on the front end, and Ruby and SQL on the backend. No templates or plugins were used.
						</li>
						<li>
							You can find this website in the <a href="/user/index">Sample Work</a> section of this homepage.
						</li>
					</ul>
					<strong>Auction Website</strong> (Stanford CS145 Final Project):
					<ul>
						<li>
							An auction website developed using PHP, HTML and CSS  which uses mySQL as database engine.
						</li>
						<li>
							Users can bid on existing items and create new auctions with some finish time.
						</li>
						<li>
							A set-time page allow traveling in time to see winner of an auction.
						</li>
					</ul>
					<strong>DECAF mini compiler</strong>(Stanford CS142 Final Project)
					<ul>
						<li>
							Complete compiler for DECAF educational programming language.
						</li>
						<li>
							Project includes Implementation of Lexical Analysis using Flex, Syntax analysis using Bison, Semantic Analysis and TAC (Three Address Code) generation.
						</li>
					</ul>

				</dd>

				<dt>
					<strong><u>WORK EXPERIENCE</strong></u>
				</dt>
				<dd class="answer">

					<strong>Software Engineer, Cisco Systems, San Jose, CA,</strong>	  June 2009- Sept 2012
					<ul>
						<li>
							Implemented the full Cisco IPVS organization wiki in Wikicentral Confluence and Zed and implemented a meeting minute management system with Javascript.
						</li>
						<li>
							Implemented the full IPVS organization wiki in wikicentral confluence and Zed through communication with different functions including management, operations and engineering; and communicated the structure to all managers in the organization. This wiki is the main point of Engineering, Test and Management information for all groups in the organization. It is actively used in monthly OPS reviews of all teams in the IPVS organization.
						</li>
						<li>
							Implemented a Python-based simulator for different units within the Cisco's Videoscape solution.
						<li>
							Designed, implemented and tested IPv6 packet filtering for the latest release of 4G PDN LTE gateway.
						</li>
						<li>
							Thoroughly tested the Charging and Policy unit for 4G PDN LTE gateway.
						</li>
						<li>
							Part of the group of four that Designed and implemented network management on Mobile Video Gateway (MVG).
						</li>
						<li>
							Implemented trans-rating and link monitoring bulk stat counters for network management on the MVG.
						</li>
					</ul>
					<strong>Micromodje Industries, Parman Subsidiary, Tehran, Iran,</strong>   July 2006 -- August 2007
					<ul>
						<li>
							Designed and implemented a 42XE1 interface card for an optical communication digital high-speed transceiver.
						</li>
						<li>
							Written Technical Documentation of multiple projects.
						</li>
						<li>
							Implemented the website and portfolio of Pars Saman, one of the Subsidiaries of Micromodje Industries.
						</li>
					</ul>

					<strong>Telsa Engineering Corp, Tehran, Iran, Analog Engineer Intern,</strong>   Summer 2005
					<ul>
						<li>
							Layout, place and route engineer working on the layout of Smart Telephony System chips with the use of Protel software.
						</li>
					</ul>
				</dd>
				<dt>
					<strong><u>HONORS & AWARDS</strong></u>
				</dt>
				<dd class="answer">
					<ul>
						<li>

							<u>3 Cisco CAP (Career Achievement Program) Awards,</u>
							rewarded by Cisco  to employees for outstanding performance April 2010, June 2010, May 2011.

						</li>
						<li>

							<u>Distinguished Student Award</u>, Department of Electrical Engineering, Azad University, Tehran. Spring 2006

						</li>
						<li>
							<u>Winner of Tehran's Kharazmi Competition</u> for high-school science projects. 1998.

						</li>
						<li>
							<u>Bronze Medal</u> United Kingdom Junior Math Competition. 1995.
						</li>

					</ul>
				</dd>
				<dt>
					<strong><u>VOLUNTARY ACTIVITIES</strong></u>
				</dt>
				<dd class="answer">
					<ul>
						<li>
							Volunteer in Connected Women in Technology, Cisco Systems, 2012.
						</li>
						<li>
							Volunteer in Society of Women Engineers Since 2012.

						</li>
						<li>
							Member in Child Foundation Charity Organization since 2010.

						</li>
						<li>
							Board member of local IEEE branch of Azad University, Tehran, 2003-2005.
						</li>

					</ul>
				</dd>

			</dl>
			<script type="text/javascript">
				function showAnswer() {

					$(this).next().fadeIn(1000);
				}

				function hideAnswer() {
                   
					$(this).next().fadeOut(1000);
				}


				$("dd.answer").css('display', 'none');

				$('#rsadeghi dt').toggle(showAnswer, hideAnswer);

			</script></td><td style="float:right; position: right, background-color:#CAE1FF"><img src="/images/twitter_pic.jpg" height="250px"></td>
		</tr>
	</table>
	<br/>
	<br/>
</div>
<br/>
<br/>
<br/>
<br/>
<div id="footer">
  <p>Designed and implemented by <a href="/"><strong>Roya Sadeghi</strong></a>. Copyright ©<a href="/"><strong>Roya Sadeghi</strong></a>. All rights reserved.<br/>	
  Please contact me on my <a href="http://www.linkedin.com/pub/roya-sadeghi/7/417/849/"><strong>linkedin</strong></a> page for comments and questions.</p>
  
</div>
